.Toolbar{
    width: 100%;
    height: 50px;
    top: 55px;
    left: 0;
    position: fixed;
    padding: 0 20px;
    background-color: #fffeff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 24px 0 rgba(0, 0, 0, 0);
    justify-content: center;
}

.Toolbar nav {
    height: 80%;
}

@media (max-width: 499px){
    .DesktopOnly {
        display: none;
    }
}