.Toolbar{
    width: 100%;
    height: 55px;
    top: 80px;
    left: 0;
    position: fixed;
    background-color: #fffeff;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    justify-content: center;
}

.Toolbar nav {
    height: 100%;
}

@media (max-width: 1011px){
    .DesktopOnly {
        display: none;
    }
}