.Header{
    width: 70%;
    height: 56px;
    background-color: #f1eff1;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    text-align: center;
}
.logo {
    text-align: center;
}
