.NavigationItems {
    margin: 10px -22px;
    width: 100%;
    box-sizing: border-box;
    display: block ;
    list-style-type: none;
}

.NavigationItems a {
    width: 100%;
    color: #7ca3d2;
    font-family: "Lato";
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-family: "Lato";
}

.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a:active{
    color: #7ca3d2;
}


@media (min-width: 500px) {
    .NavigationItems {
        margin: 0;
        height: 100%;
        width: auto; 
        display: flex;
        align-items: center; 
        list-style-type: none;
    }
    
    .NavigationItems a {
        width: auto;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        color: #7ca3d2;
    }
    
    .NavigationItems a:hover,
    .NavigationItems a:active,
    .NavigationItems a:active{
        background-color: #FFFFFF;
        border-bottom:  4px solid #7ca3d2;
        color: #7ca3d2;
    }
}